.App { 
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*************
SearchResult
**************/

.SearchResult input {
  display: block;
}

/**************
GifList
***************/

.GifList ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.GifList li {
  flex: 0 1 250px;
}

