.col-6 {
  padding: 0px !important;
}

.container-fluid {
 
}

header {
  text-align: left;
  background-color: #efefef;
  width: 100%;
  padding: 25px 30px 25px 30px;
  font-weight: bold;
  font-size: 22px;
}

/*******************
Search
*******************/
.Search {
  padding: 40px 40px 40px 30px !important;
}

.Search label {
  display: block;
}

.Search button {
  background-color: #999;
  color: #fff;
}

/*************
SearchResult
**************/
.SearchResult {
  padding: 30px 50px 0px 30px !important;
  background-color: #fafafa;
  border: 1px solid #eee;
}

.SearchResult input {
  display: block;
}

.SearchResult__image {
  text-align: center;
}

.SearchResult__image h5 {
  text-align: center;
}

.SearchResult__image img {
  text-align: center;
}

.SearchResult__image__wrapper {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 1px solid #eee;
  font-style: italic;
  text-align: center;
}

.SearchResult__image__wrapper p {
  padding: 0px 10px 0px 10px;
}

.SearchResult__image__wrapper .Gif {
  padding: 0px;
}

.SearchResult__image__wrapper p {
  margin-top: 100px;
}

.SearchResult__likeGif {
  width: 100px;
  margin: 20px auto;
}

.SearchResult__weirdness input {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.spinner {
  margin: 0 auto;
  margin-top: 100px;
}

/**************
GifList
***************/

.GifList ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.GifList li {
  margin: 20px 0px 20px 0px;
  flex: 0 1 250px;
}

.GifList li h5 {
  text-align: center;
  overflow: hidden;
}

.GifList__weirdness {
  text-align: center;
}

/*********************
LikedGifs
**********************/

.LikedGifs {
  padding: 50px;
  background-color: #fafafa;
  height: 100%;
  border: 1px solid #eee;
}

.LikedGifs > h5 {
  padding-left: 30px;
}

.LikedGifs p {
  text-align: center;
  padding: 15px;
}

.LikedGifs__weirdness-button {
  text-align: center;
}

/******************* 
Gif
*********************/
.Gif {
  position: relative;
}

.close {
  position: absolute;
  left: 84%;
  top: 3% !important;
  background-color: #222 !important;
  padding: 0px !important;

  font-size: 12px !important;
  font-weight: bold !important;
  line-height: 0px !important;
  color: #fff !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50px;
  height: 20px;
  width: 20px;
}

.close span {
  background: transparent;
  position: absolute;
  top: 45%;
  left: 30%;
}

/********************
ResultPage
********************/
.ResultPage h4 {
  padding: 50px;
  text-align: center;
}

.ResultPage__start-over {
  text-align: center;
}

.ResultPage button {
  background-color: #999;
  color: #fff;
}